h1 {
  text-align: center;
  font-family: sans-serif;
}

p.instructions {
  font-size: 120%;
  margin-top: 20px;
  margin-bottom: 20px;
}

div#game_block table {
  font-weight: monospace;
  font-size: 180%;
  border-collapse: collapse;
  border: 1px solid #7a7;
}

/*
 * This block removes the 'select' capability for the table containing
 * the letters. This is to implement drag-selecting of words.
 *
 * See these posts:
 *
 * http://stackoverflow.com/questions/1319126/prevent-highlight-of-text-table/
 * http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting
 *
 */
div#game_block table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

div#game_block table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #7a7;
}

div#game_block table td.highlighted {
  background: yellow;
}

td.found {
  background: green;
}

div#word_list table {
  border: 1px;
}
